<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EchoMusic: Inicio</title>
    <link rel="stylesheet" href="/static/styles/index.css">
</head>
<body>
    <div class="div_fondo_home">
        <form class="form_buscar" action="#" method="get">
            {% csrf_token %}
            <div class="div_buscar">
                <img class="img_logo" src="/static/images/icons/logo.svg" alt="imagen_logo">
                <input class="input_buscar" type="text" placeholder="Buscar">
                <button class="btn_buscar" type="submit"></button>
            </div>
            <a class="btn_perfil" href="{% url 'perfil' %}"></a>
            <a class="btn_logout" href="{% url 'logout' %}"></a>
        </form>

        <h1>Tu biblioteca</h1>
        <div class="div_filtros">
            <button class="btn_filtro_act" type="button">Canciones</button>
            <button class="btn_filtro_des" type="button">Álbumes</button>
        </div>

        <div class="div_canciones" id="div_canciones">
            {% if canciones %}
                {% for cancion in canciones %}
                    <div class="div_cancion">
                        <img class="imagen_cancion" src="{{ cancion.imagen.url }}" alt="imagen_cancion">
                        <p class="nombre_cancion"><strong>{{ cancion.nombre }}</strong></p>
                        <p class="autor_cancion">{{ cancion.autor }}</p>
                        <audio class="audio_cancion" src="{{ cancion.archivo.url }}"></audio>
                    </div>
                {% endfor %}
            {% else %}
                <h3 class="txt_mensaje_home">No hay canciones guardadas</h3>
            {% endif %}
        </div>

        <div class="div_albumes" id="div_albumes">
            {% if albumes %}
                {% for album in albumes %}
                    <div class="div_album">
                        <img src="{{ album.imagen.url }}" alt="imagen_album">
                        <p><strong>{{ album.nombre }}</strong></p>
                    </div>
                {% endfor %}
            {% else %}
                <h3>No hay álbumes creados</h3>
            {% endif %}
        </div>

        <div class="div_botones_home">
            <button class="btn_crear" type="button">Crear</button>
            <button class="btn_subir" type="button" id="btn_subir"></button>
        </div>

        <div class="div_reproductor" id="reproductor">
            <div class="reproductor">
                <p class="txt_cancion_seleccionada" id="txt_cancion_seleccionada"></p>
                <audio id="cancion_seleccionada"></audio>
                <div class="div_play_duracion">
                    <button class="btn_play" type="button" id="btn_play"></button>
                    <div class="div_duracion" id="div_duracion">
                        <div class="espacio_consumido" id="espacio_consumido"></div>
                        <button class="btn_duracion" draggable="false" id="btn_duracion"></button>
                    </div>
                </div>
            </div>

            <div class="div_volumen">
                <div class="volumen" id="volumen">
                    <div class="espacio_volumen" id="espacio_volumen"></div>
                    <button class="btn_volumen" draggable="false" id="btn_volumen"></button>
                </div>
            </div>
        </div>
    </div>

    <div class="div_fondo" id="div_fondo_crear">
        <form class="div_subir" action="#" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="div_image_form">
                <img class="btn_image" src="/media/default/img_album.svg" id="btn_image_album" alt="imagen_álbum">
                <input id="input_imagen_crear" type="file" style="display: none;" name="imagen">
            </div>
            
            <input class="input_form" type="text" maxlength="30" placeholder="Nombre del álbum (máximo 30 carácteres)">
            <textarea class="txt_descripcion" name="descripcion" maxlength="500" placeholder="Descripción del álbum (máximo 500 carácteres)"></textarea>
        </form>
    </div>

    <div class="div_fondo" id="div_fondo_subir">
        <form class="div_subir" action="{% url 'subir_cancion' %}" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <h1 class="titulo_form">Subir una canción</h1>

            <div class="div_image_form">
                <div class="btn_image_hover" id="btn_image_cancion_hover"></div>
                <img class="btn_image" src="/media/default/img_album.svg" id="btn_image_cancion" alt="imagen_canción">
            </div>

            <input id="input_imagen_subir" type="file" style="display: none;" name="imagen_cancion">
            <input class="input_form" id="input_nombre_cancion" type="text" maxlength="30" placeholder="Nombre de la canción (máximo 30 carácteres)" name="nombre">
            <input class="input_form" id="input_autor_cancion" type="text" maxlength="30" placeholder="Autor de la canción (máximo 30 carácteres)" name="autor">
            <button class="btn_archivo" type="button" id="btn_archivo">Seleccionar archivo</button>
            <input id="input_archivo" style="display: none;" type="file" name="archivo">

            <div class="div_botones_subir">
                <button type="submit" class="btn_subir_cancion">Subir</button>
                <button type="button" class="btn_cancelar_cancion" id="btn_cancelar_cancion">Cancelar</button>
            </div>
        </form>
    </div>

    <div class="div_cargando" id="div_cargando">
        <img class="cargando" src="/static/images/icons/logo.svg">
    </div>

    <script src="/static/scripts/index.js"></script>
</body>
</html>