<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EchoMusic: Login</title>
    <link rel="stylesheet" href="/static/styles/login.css">
</head>
<body>
    <div class="div_fondo_form">
        <img class="img_logo" src="/static/images/icons/img_playlist.svg" alt="logo_echomusic">
        <h1 class="titulo_login">EchoMusic</h1>
        <input class="input_form" type="email" placeholder="Email">
        <input class="input_form" type="password" placeholder="Contraseña">
        <div class="div_botones">
            <button class="btn_ingresar">Ingresar</button>
            <button class="btn_registrarse">Registrarse</button>
        </div>
    </div>
</body>
</html>