<div id="div_perfil">
    <div class="div_fondo_perfil">
        <header>
            <button class="img_logo" id="img_logo"></button>
            <form class="form_buscar" action="{% url 'buscar' %}" method="get">
                {% csrf_token %}
                <div class="div_buscar">
                    <input class="input_buscar" type="text" placeholder="Buscar" name="buscar">
                    <button class="btn_buscar" type="submit"></button>
                    <input type="hidden" value="{{ filtro }}" id="filtro" name="filtro">
                </div>
            </form>
            <button id="btn_perfil" class="btn_perfil" style="background-image: url('{{ usuario.foto_perfil.url }}');"></button>
            <a class="btn_logout" href="{% url 'logout' %}"></a>
        </header>

        <div class="div_contenido_perfil">
            <div class="div_info_usuario">
                <div class="div_foto_perfil">
                    <img class="foto_perfil" src="{{ usuario.foto_perfil.url }}" alt="foto_perfil" id="preview_foto">
                    <div class="overlay_foto" id="overlay_foto"></div>
                </div>
                
                <div class="div_datos_usuario">
                    <h1 class="nombre_usuario">{{ usuario.username }}</h1>
                    
                    <div class="div_estadisticas">
                        <div class="estadistica">
                            <p class="numero_estadistica">{{ total_canciones }}</p>
                            <p class="texto_estadistica">Canciones</p>
                        </div>
                        <div class="estadistica">
                            <p class="numero_estadistica">{{ total_albumes }}</p>
                            <p class="texto_estadistica">Álbumes</p>
                        </div>
                        <div class="estadistica">
                            <p class="numero_estadistica">{{ canciones_favoritas|length }}</p>
                            <p class="texto_estadistica">Favoritos</p>
                        </div>
                    </div>

                    <button class="btn_editar" type="button" id="btn_editar">Editar Perfil</button>
                </div>
            </div>

            <div class="div_seccion" id="seccion_favoritos">
                {% if canciones_favoritas %}
                    <div class="grid_canciones">
                        {% for cancion in canciones_favoritas %}
                            <div class="card_cancion">
                                <img class="imagen_cancion" src="{{ cancion.imagen.url }}" alt="imagen_cancion">
                                <div class="div_nombre_autor">
                                    <p class="nombre_cancion"><strong>{{ cancion.nombre }}</strong></p>
                                    <p class="autor_cancion">{{ cancion.autor }}</p>
                                </div>
                                <form class="div_eliminar_favorito" action="{% url 'eliminar_favorito' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="cancion_id" value="{{ cancion.id }}">
                                    <button class="btn_eliminar_favorito" type="submit">Eliminar de favoritos</button>
                                </form>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div style="height: 100%; position: relative; display: grid; align-items: center; width: 100%;">
                        <h3 class="txt_mensaje">No tienes canciones favoritas aún</h3>
                    </div>
                {% endif %}
            </div>
        </div>
    
    <div class="div_fondo" id="div_fondo_editar">
        <form class="div_editar" action="{% url 'actualizar_perfil' %}" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <h1 class="titulo_form">Editar Perfil</h1>

            <div class="div_image_form">
                <div class="btn_image_perfil_hover" id="btn_image_hover"></div>
                <img class="btn_image_perfil" src="{{ usuario.foto_perfil.url }}" id="btn_image" alt="foto_perfil">
            </div>
            
            <input id="input_foto" type="file" style="display: none;" name="foto_perfil">
            <input class="input_form" type="text" maxlength="30" placeholder="Nombre" name="username" value="{{ usuario.username }}">

            <div class="div_botones_form">
                <button type="submit" class="btn_aceptar">Guardar</button>
                <button type="button" class="btn_cancelar" id="btn_cancelar">Cancelar</button>
            </div>
        </form>
    </div>

    <script src="/static/scripts/perfil.js"></script>
</div>