body, html {
    background-color: black;
    margin: 0;
    display: grid;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;
}

.div_fondo_form {
    display: grid;
    background-color: rgb(36, 36, 36);
    border-radius: 20px;
    padding: 20px;
    max-height: 70vh;
    max-width: 75vw;
    width: 400px;
}

.titulo_login {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.img_logo {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    justify-self: center;
}

.input_form {
    background-color: rgb(75, 75, 75);
    padding: 10px;
    border-radius: 25px;
    border: 0;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

.input_form:focus {
    outline: 2px solid #ffeebd;
    color: #ffeebd;
}

.div_botones {
    display: flex;
    align-items: center;
}

.btn_ingresar {
    color: white;
    background-color: #ffdd76;
    border: 0;
    border-radius: 25px;
    padding: 10px;
}