body {
    background-color: black;
    margin: 0;
}

.div_fondo_form {
    background-color: rgb(36, 36, 36);
    border-radius: 20px;
    padding: 20px;
    max-height: 70vh;
    max-width: 25vw;
}

.titulo_login {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: center;
}