<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EchoMusic: Login</title>
    <link rel="stylesheet" href="/static/styles/login.css">
</head>
<body>
    <div class="div_fondo_form">
        <img class="img_logo" src="/static/images/icons/logo.svg" alt="logo_echomusic">
        
        <form action="{% url 'ingresar' %}" method="get">
            {% csrf_token %}
            <div class="div_login" id="div_login">
                <h1 class="titulo_login">EchoMusic</h1>
                <h3 class="titulo_login">Iniciar sesión</h3>
                <input class="input_form" type="email" placeholder="Email" name="correo">
                <input class="input_form" type="password" placeholder="Contraseña" name="contraseña">
                <div class="div_botones">
                    <button type="submit" class="btn_ingresar">Ingresar</button>
                    <button id="btn_regitro" type="button" class="btn_registrarse">Registrarse</button>
                </div>
            </div>
        </form>

        <form action="{% url 'registrarse' %}" method="post">
            {% csrf_token %}
            <div class="div_register" id="div_register">
                <h1 class="titulo_login">EchoMusic</h1>
                <h3 class="titulo_login">Registro</h3>
                <input class="input_form" type="text" placeholder="Nombre de usuario" name="nombre_usuario">
                <input class="input_form" type="text" placeholder="Nombre" name="nombre">
                <input class="input_form" type="text" placeholder="Apellido" name="apellido">
                <input class="input_form" type="email" placeholder="Email" name="correo">
                <input class="input_form" type="email" placeholder="Confirmar email" name="correo_confirmar">
                <input class="input_form" type="password" placeholder="Contraseña" name="contraseña">
                <input class="input_form" type="password" placeholder="Confirmar contraseña" name="contraseña_confirmar">
                <div class="div_botones">
                    <button type="submit" class="btn_ingresar">Registrarse</button>
                    <button id="btn_volver" type="button" class="btn_registrarse">Volver</button>
                </div>
            </div>
        </form>
    </div>

    {% if mensaje %}
        <div class="div_mensaje">
            {{ mensaje }}
        </div>
    {% endif %}

    <script src="/static/scripts/login.js"></script>
</body>
</html>